.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100%;
  box-sizing: border-box;
}

#navbar {
  padding: 20px;
  background-color: lightgray;
}

#title {
  color: orangered;
  margin-top: 0
}

#nav {
  list-style-type: none;
  text-decoration: none;
  padding: 0
}

.nav-item {
  display: inline;
  list-style-type: none;
  margin: 5px;
  padding: 4px;
  border-radius: 25%;
  border: 0in;
}

.nav-item:hover {
  background-color: orangered;
  color: white;
  cursor: pointer
}

#theme-btn {
  height: 25px;
  width: 100px;
  background-color: orangered;
  color: white;
  border: none;
  margin-top: 20px;
  position: absolute;
  top: 5px;
  right: 25px
}

#theme-btn:hover {
  cursor:pointer;
}

#main {
  text-align: left;
  padding: 30px;
  margin-top: 30px;
  font-size: 30px;
}

span {
  color: orangered
}

footer {
  background-color: lightgray;
  height: 100px;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
